@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="#" data-toggle="modal" data-url='@Url.Action("Create", "Game")'>Create</a> a new game</p>
    <p>or</p>
    <p><a id="joinGameLink" href="#">Join</a> an exiting game</p>
</div>

<div id="modal-placeholder"></div>